{% extends 'base.html' %}


{% block principal %}
{% include 'pagination.html' %}
<a href="{% url 'home_inicio' %}">home</a>
<h1>details</h1>

{%if resultado %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">main</th>
        <th scope="col">name</th>
        <th scope="col">Links</th>
        
      </tr>
    </thead>
    <tbody>
        {% for r in resultado %}
      <tr>
        <td>{{ r.web_parent }}</a></td>
        <td>{{ r.name_detail }}</td>
        <td>{{ r.link_detail }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>No hay resultados mostrar</h3>
  {% endif %}
{% endblock %}
